@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #000000;
    --white: #FFFFFF;
    --pink: #FF4F81;
    --blue: #00A3E0;
    --yellow: #F6EB61;
    --purple: #A45DBB;
    --cyan: #00B2A9;
    --red: #FF6F61;
  }

  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

